{% extends "home.html" %}
{% block content %}
<div class="input-group-prepend">
    <span class="input-group-text twitter-clr">Twiter ID ( @__ )</span>
</div>
<form style="height: 38px;" action="{{ url_for('predictbyid') }}" method="POST"
    enctype="application/x-www-form-urlencoded;charset=TIS-620">
    <div class="input-group mb-3">
        <input type="text" class="form-control" style="width: 32.3rem; border-radius: 0%;" name="userID"
            placeholder="Example : @Elonmusk">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary twitter-clr" type="button">Submit</button>
        </div>
    </div>
</form>
{% endblock %}